<% current_tab :join %>

<div class="join">
  <div class="form short">
    <h2>Login</h2>
    
    <% form_for :session, :url => session_path do |form| %>
      <fieldset>
        <div class="text_field">
          <%= form.label :email, "Email<span class='required'>*</span>" %>
          <%= form.text_field :email %>
        </div>
        <div class="text_field">
          <%= form.label :password, "Password<span class='required'>*</span>" %>
          <%= form.password_field :password %>
          <%= link_to "Forgot password?", new_password_path %>
        </div>
        <div class="text_field check">
          <%= form.check_box :remember_me %>
          <%= form.label :remember_me %>
        </div>
      </fieldset>
      <p><span class="required">*</span> - required fields</p>
      <fieldset class="submit-area">
        <div class="submit_field">
          <%= form.submit "Sign in", :disable_with => "Please wait..." %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

<div id="sidebar">
  <h3>Not Yet a Member?</h3>
  <p><%= link_to "Click here to sign up", new_user_path %></p>
  <h3>Instructions</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit velit, volutpat sit amet tempor sit amet, iaculis vitae felis. Vivamus id massa et eros euismod interdum vel in mauris. Integer lacinia, nibh a euismod luctus, nulla dui cursus metus, vel scelerisque enim tortor viverra turpis. Aenean vel sapien tortor, eget hendrerit tortor. </p>
</div>
