<% div_for measure_set do %>
  <p>
    <strong><%= measure_set.title %></strong>
    <% if @deal.editable_by?(current_user) %>
      <%= link_to_function "Edit", "$('#{dom_id(measure_set)}').hide();$('#{dom_id(measure_set)}_form').show();" %>
    <% end %>
  </p>
  <ul>
    <% for measure in measure_set.measures %>
    <li>
      <strong><%= measure.title %></strong>: <%= measure.value %>
    </li>
    <% end %>
  </ul>
<% end %>

<% if @deal.editable_by?(current_user) %>
<div id="<%= dom_id(measure_set) %>_form" style="display: none;">
  <%= render 'deals/measure_set', :measure_set => measure_set %>
</div>
<% end %>
