<% div_for measure_set do %>
  <div class="measure-list">
    <div class="measure-list-title">
      <h3><%= measure_set.title %></h3>
      <div class="edit">
      <% if @deal.editable_by?(current_user) %>
        <%= link_to_function "Edit", "$('#{dom_id(measure_set)}').hide();$('#{dom_id(measure_set)}_form').show();" %>
      <% end %>
      </div>
    </div>
    <% unless measure_set.measures.blank? %>
    <ul>
      <% for measure in measure_set.measures %>
      <li><p><strong><%= measure.title %></strong>: <%= measure.value %></p></li>
      <% end %>
    </ul>
    <% end %>
  </div>
<% end %>

<% if @deal.editable_by?(current_user) %>
<div id="<%= dom_id(measure_set) %>_form" style="display: none;">
  <%= render 'deals/measure_set', :measure_set => measure_set %>
</div>
<% end %>
