<%= render 'home/tabs', :locals => { :current_tab => 'my' } %>
  <div class="home">
    <div class="form deal measure-set"
      <% form_for [@measure_set.deal, @measure_set] do |f| %>
            
        <%= f.label :title, "measure_set title: " %>
        <%= f.text_field :title %>
        <%= f.check_box(:published) %>
        <%= f.label :published, "published" %>
        <fieldset>
          <% f.fields_for :measures do |mf| %>
          <br />
          <%= mf.text_field :title %>
          <%= mf.text_field :value %>
          <%= mf.check_box :published %>
          <%= mf.label :published, "published" %>
                  
          <% unless mf.object.new_record? %>
            <%= mf.check_box '_delete' %>
            <%= mf.label '_delete', 'Remove' %>
          <% end %>
          </fieldset>
      <% end %>

      <fieldset class="submit-area">
        <%= submit_tag %>
      </fieldset>
      <% end %>
</div>

