<%= form.error_messages %>
<fieldset>
  <div class="text_field">
    <%= form.label :email, "Email<span class='required'>*</span>" %>
    <%= form.text_field :email %>
  </div>
  <div class="password_field">
    <%= form.label :password, "Password<span class='required'>*</span>" %>
    <%= form.password_field :password %>
  </div>
  <div class="password_field">
    <%= form.label :password_confirmation, "Confirm password<span class='required'>*</span>" %>
    <%= form.password_field :password_confirmation %>
  </div>
</fieldset>
<p><span class='required'>*</span> - required fields</p>