<% form_for [@deal, measure_set] do |f| %>
  <div class="measure-set">
    <div class="measure-title">
      <div class="measure-title-field">
        <%= f.label :title, "Title: ", :for => "#{dom_id(measure_set)}_form_title" %>
        <%= f.text_field :title, :id => "#{dom_id(measure_set)}_form_title" %>
      </div>
      <div class="remove-measure" >
        <% unless measure_set.new_record? %>
          <%= link_to "remove", [@deal, measure_set], :method => :delete, :confirm => 'Are you sure?' %>
        <% end %>
      </div>
    </div>  
    <div id="<%= dom_id(measure_set) %>_measures" class="measures">
      <label>Measures:</label>
      <label>Values:</label>
      <%= f.render_associated_form(measure_set.measures) %>
    </div>
      
    <p><%= f.add_associated_link "Add New Measure", measure_set.measures.build, :container => "#{dom_id(measure_set)}_measures" %></p>
  </div>      
  <fieldset class="submit-area">
    <%= f.submit 'Save', :id => "#{dom_id(measure_set)}_form_submit" %> or
    <%= link_to_function "Cancel", "$('#{dom_id(measure_set)}').show();$('#{dom_id(measure_set)}_form').hide();" %>
  </fieldset>
<% end %>
