<div style="background:#888; padding:1em; margin-bottom:1em;">
  <% form_for [@deal, measure_set], :html => { :id => "#{dom_id(measure_set)}_form" } do |f| %>
    <%= f.text_field :title %>
    <% unless measure_set.new_record? %>
      <%= link_to "remove", [@deal, measure_set], :method => :delete, :confirm => 'Are you sure?' %>
    <% end %>
    
    <div id="<%= dom_id(measure_set) %>_measures">
      <%= f.render_associated_form(measure_set.measures) %>
    </div>
    
    <p><%= f.add_associated_link "add measure", measure_set.measures.build, :container => "#{dom_id(measure_set)}_measures" %></p>
    
    <fieldset class="submit-area">
      <%= f.submit 'Save' %> or
      <%= link_to_function "Cancel", "$('#{dom_id(measure_set)}').show();$('#{dom_id(measure_set)}_form').hide();" %>
    </fieldset>
  <% end %>
</div>
