<div class="measure-set"  style="background:#888; margin-bottom:1em; padding:1em; ">
  <div class="measure-title">
    <div class="measure-title-field">
      <%= f.label :title, "Title: " %>
      <%= f.text_field :title %>
    </div>
    <div class="remove-measure" >
      <%= f.remove_link "remove set" %>
      </div>
  </div>
  <div id="<%= dom_id(measure_set) %>" class="measures">
    <%= f.label :measures, "Measures: " %>
    <%= f.label :values, "Values: " %>
    <%= f.render_associated_form(measure_set.measures) %>
    <p><%= f.add_associated_link "Add New Measure", measure_set.measures.build, :container => dom_id(measure_set) %></p>
  </div>
  
</div>
