<%= render 'home/tabs' %>
  
  <div class="home">
      <div class="form">
      
      <table class="board" border="0" cellpadding="0" cellspacing="0">
          <thead>
              <tr>
                <th class="deal">Deal</th>
                <th class="comments">Comments</th>
                <th class="date">Update</th>
                <th></th>
              </tr>
          </thead>
          <tbody>
              <% @deals.each do |deal| %>
                <tr class="first">
                    <td>
                        <h3><%= link_to deal.title, deal_path(deal) %></h3>
                    </td>
                    <td>
                        <p><a href="#">5</a>, last by: <a href="#">Anton</a></p>
                    </td>
                    <td><%= time_ago_in_words deal.updated_at %> ago</td>
                    <td><%= link_to 'Edit', edit_deal_path(deal) if current_user && current_user.id = deal.user_id %></td>
                </tr>
              <% end %>
          </tbody>
      </table>
      <%= will_paginate @deals %>
                  <div>
                  <br />
                    <%= link_to 'Create a new deal', new_deal_path %>
                  
                  </div>
      </div>
  </div>
