<%= render 'home/tabs' %>
  <div class="home">
      <div class="form">
                  <% @deals.each do |deal| %>
                    <p>
                      <em class="title"><%= link_to deal.title, deal_path(deal) %></em>
                      <span class="added">added <%= time_ago_in_words deal.updated_at %> ago</span>
                      <span class="edit"><%= link_to 'Edit', edit_deal_path(deal) if current_user && current_user.id = deal.user_id %></span>
                    </p>
                  <% end %>
                  
                  <div>
                  <br />
                    <%= link_to 'Create a new deal', new_deal_path %>
                  
                  </div>
      </div>
  </div>
