<h1><%= @deal.title %></h1>

<p><%= @deal.content %></p>

<p><%= @deal.published ? 'Published' : 'Not published' %></p>

<p>Updated <%= time_ago_in_words @deal.updated_at %> ago</p>

<h2>Measures</h2>

<div>
  <%= render @deal.measure_sets %>
</div>

<% if @deal.user == current_user %>
  <%= link_to "Add new measure set", new_deal_measure_set_path(@deal) %>
<% else %>
  <%= link_to "Recomend measure set", new_deal_measure_set_path(@deal) %>
<% end %>

<h2>Comments</h2>
<!-- list of comments -->
<div></div>
