<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Bizbutter - <%= h(yield(:title) || "Home") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="top-menu">
	<ul>
	    <li class="first"><a href="/login">Log In</a></li>
	    <li><a href="/signup">Sign Up</a></li>
	</ul>
    </div>
    <div id="container">
	<%- flash.each do |name, msg| -%>
	  <%= content_tag :div, msg, :id => "flash_#{name}", :class => 'notice' %>
	<%- end -%>  
        <div id="header">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.png" alt="Sustainable Communities" title="Sustainable Communities" />
		</a>
            </div>
        </div>
	<div id="wrap">
	    <div id="navigation">
		<ul>
		    <li class="current">All Deals</li>
		    <li><a href="#">Latest Deals</a></li>
		    <li><a href="#">Most Commented</a></li>
		    <li><a href="#">Lorem</a></li>
		</ul>
	    </div>
            <div id="content">
                <%= yield %>
	    </div>
<!--	    <div id="sidebar">-->
<!--	      <em>Sidebar</em>-->
<!--            </div>-->
        </div>
    </div>
    <div id="footer">
        <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="Sustainable Communities" title="Sustainable Communities" /></a>
            <p class="copy">&copy; 2009</p>
        </div>
	<p class="validator">
	    <a href="http://validator.w3.org/check?uri=referer">
	        <img src="http://www.w3.org/Icons/valid-xhtml10-blue" alt="Valid XHTML 1.0 Strict" height="31" width="88" />
	    </a>
	</p>
    </div>
  </body>
</html>
